# Required only for official Mozilla Data Collective / Common Voice access.
MDC_API_KEY= "paste your mdc key here"

# Optional. Hugging Face access token.
HF_TOKEN= "paste your hugging face key here"

# Optional cache locations.
HF_HOME=/mnt/e/Adrija/Downloads/Morphology\ and\ Syntax/information_locality_time_bundle/data/huggingface
HF_DATASETS_CACHE=/mnt/e/Adrija/Downloads/Morphology\ and\ Syntax/information_locality_time_bundle/data/huggingface/datasets
